:root {
  --gui-editor-width: 400px;
  --scrollbar-color-thumb: rgba(0, 0, 0, 0.25);
  --scrollbar-color-track: transparent;
  --scrollbar-width: thin;
  --scrollbar-width-legacy: 5px;
  --tp-base-border-radius: 0;

  --tp-base-background-color: hsla(0, 0%, 0%, 1);
  --tp-base-shadow-color: hsla(0, 0%, 0%, 0.2);
  --tp-button-background-color: hsla(0, 0%, 70%, 1);
  --tp-button-background-color-active: hsla(0, 0%, 85%, 1);
  --tp-button-background-color-focus: hsla(0, 0%, 80%, 1);
  --tp-button-background-color-hover: hsla(0, 0%, 75%, 1);
  --tp-button-foreground-color: hsla(0, 0%, 0%, 1);
  --tp-container-background-color: hsla(0, 0%, 10%, 1);
  --tp-container-background-color-active: hsla(0, 0%, 25%, 1);
  --tp-container-background-color-focus: hsla(0, 0%, 20%, 1);
  --tp-container-background-color-hover: hsla(0, 0%, 15%, 1);
  --tp-container-foreground-color: hsla(0, 0%, 50%, 1);
  --tp-groove-foreground-color: hsla(0, 0%, 10%, 1);
  --tp-input-background-color: hsla(0, 0%, 10%, 1);
  --tp-input-background-color-active: hsla(0, 0%, 25%, 1);
  --tp-input-background-color-focus: hsla(0, 0%, 20%, 1);
  --tp-input-background-color-hover: hsla(0, 0%, 15%, 1);
  --tp-input-foreground-color: hsla(0, 0%, 70%, 1);
  --tp-label-foreground-color: hsla(0, 0%, 50%, 1);
  --tp-monitor-background-color: hsla(0, 0%, 8%, 1);
  --tp-monitor-foreground-color: hsla(0, 0%, 48%, 1);
}

body {
  background-color: rgba(0, 0, 0, 1);
}

.tp-dfwv {
  width: 320px !important;
  position: fixed !important;
  height: 100%;
  overflow-y: scroll;
}

.sb-show-main canvas {
  /* outline: 1px solid rgba(255, 255, 255, 0.5); */
  /* box-sizing: border-box; */
}

@font-face {
  font-family: "Berlingske Serif Stencil";
  src: url("/assets/fonts/BerlingskeSerifStencil-Rg.eot");
  src:
    url("/assets/fonts/BerlingskeSerifStencil-Rg.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/BerlingskeSerifStencil-Rg.woff2") format("woff2"),
    url("/assets/fonts/BerlingskeSerifStencil-Rg.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Berlingske Serif Text";
  src: url("/assets/fonts/BerlingskeSerifText-Regular.eot");
  src:
    url("/assets/fonts/BerlingskeSerifText-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/BerlingskeSerifText-Regular.woff2") format("woff2"),
    url("/assets/fonts/BerlingskeSerifText-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

.load-font-stencil {
  color: white;
  font-family: "Berlingske Serif Stencil";
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.load-font-regular {
  color: white;
  font-family: "Berlingske Serif Text";
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.sketch {
  position: relative;
}

/* Scrollbar */
.gui-webgl-scrollbar {
  scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
  scrollbar-width: var(--scrollbar-width);
}

@supports selector(::-webkit-scrollbar) {
  .gui-webgl-scrollbar::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color-thumb);
  }
  .gui-webgl-scrollbar::-webkit-scrollbar-track {
    background: var(--scrollbar-color-track);
  }
  .gui-webgl-scrollbar::-webkit-scrollbar {
    width: 5px;
    max-width: var(--scrollbar-width-legacy);
    max-height: var(--scrollbar-width-legacy);
  }
}
